
{% extends 'base.html' %}
{% block content %}

    <div class="events">
        <form action="{% url 'events' %}" method="POST" class="searchTool">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="searchBtn">search</button>
        </form>
        <form action="{% url 'form' %}" method="POST">
            {% csrf_token %}

            <button>Add Event</button>
        </form>
        <form  method="POST">
            {% csrf_token %}

            {% if not search_title %}
                {% for event in events %}
                    <div class="eventscontainer" id="myForm">
                        <table class="myItems">
                            <p class="">{{ event.title }}</p>
                            <p class="">{{ event.date }}</p>
                            <p class="">{{ event.time }}</p>
                            <p class="">{{ event.location }}</p>
                            <form action="{% url 'deleting' event.id %}" class="delete-form">
                                {% csrf_token %}
                                <button  type="submit" class="delete-btn">Delete</button>
                            </form>
                            <form action="{% url 'update' event.id %}" class="update-form">
                                {% csrf_token %}
                                <button  class="update-btn">Update</button>
                            </form>
                        </table>
                    </div>
                {% endfor %}
            {% elif search_title %}
                <div class="eventscontainer" id="myForm2">
                    <table class="myItems">
                        <p class="">{{ search_title.title }}</p>
                        <p class="">{{ search_title.date }}</p>
                        <p class="">{{ search_title.time }}</p>
                        <p class="">{{ search_title.location }}</p>
                    </table>
                    <form action="{% url 'deleting' search_title.id %}" class="delete-form">
                        {% csrf_token %}                                <button  type="submit" class="delete-btn">Delete</button>
                    </form>
                    <form action="{% url 'update' search_title.id %}" class="update-form">
                        {% csrf_token %}
                    <button  class="update-btn">Update</button>
                    </form>
                </div>
            {% endif %}
        </form>
    </div>
    <footer class="footer">
        <div class="socialscontainer">
            <a id="scrollToTop" href="#" onclick="scrollToTop(); return false;">UP</a>
        </div>
    </footer>
{% endblock content %}