
{% extends 'base.html' %}
{% block content %}

    <div class="events">
        <form action="{% url 'events' %}" method="POST" class="searchTool">
            {% csrf_token %}
            {{ form.as_p }}
            <button>search</button>
        </form>
        <form action="{% url 'form' %}" method="POST">
            {% csrf_token %}

            <button>Add Event</button>
        </form>
        <form  method="POST">
            {% csrf_token %}

            {% if not search %}
                {% for event in events %}
                    <div class="eventscontainer" id="myForm">
                        <div class="myItems">
                            <p class="">{{ event.title }}</p>
                            <p class="">{{ event.date }}</p>
                            <p class="">{{ event.time }}</p>
                            <p class="">{{ event.location }}</p>
                            <form action="{% url 'deleting' event.id %}" class="delete-form">
                                {% csrf_token %}
                                <button  type="submit" class="delete-btn">Delete</button>
                            </form>
                            <form action="{% url 'update' event.id %}" class="update-form">
                                {% csrf_token %}
                                <button  class="update-btn">Update</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% elif search %}
                <div class="eventscontainer" id="myForm2">
                    <div class="myItems">
                        <p class="">{{ search.title }}</p>
                        <p class="">{{ search.date }}</p>
                        <p class="">{{ search.time }}</p>
                        <p class="">{{ search.location }}</p>
                        <form action="{% url 'deleting' event.id %}" class="delete-form">
                            {% csrf_token %}
                            <button  class="delete-btn">Delete</button>
                        </form>
                        <form action="{% url 'update' event.id %}" class="update-form">
                            {% csrf_token %}
                            <button  class="update-btn">Update</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock content %}
